reference/*
matlab/libraries/*
!matlab/libraries/get_next_thousand/
**/__pycache__/
tests/output/*
visp_matlab_loader/output/*
matlab/compiled/*
.ipynb_checkpoints
Archive/*
*.zip
settings.json
results.mat
input.mat
out.json
output.json
*mypy*
notebooks/*.ipynb